<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <h1>AUTHOR</h1>
    <p>AUTHOR  : {{ author.UserName }}</p>
    <p>Email  : {{ author.Email }}</p>
</div>
