<h1>Edit Category</h1>
{% block body %}
{{ form_start(form, {'method': 'PUT', 'action': path('app_edit_Category', {'id': Category.id})}) }}
        {{ form_widget(form) }}

        <input type="submit" value="edit Category" formnovalidate>
    {{ form_end(form) }}
{% endblock %}
